<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
	   id="dk.mdsu.groupC.yawlNet"
	   name="YAWL Nets group C"
	   point="org.pnml.tools.epnk.pntd">
	   <type
	      class="yawl.Yawl.impl.YAWLNetImpl"
	      description="This is a YawlNet developed by group 4 in model based software engineering" />
	</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated YAWL -->
      <package
            uri="http://compute.dtu.dk/mbse/yawl"
            class="yawl.Yawl.YawlPackage"
            genModel="model/YAWL.genmodel"/>
   </extension>

</plugin>
